.banner-display {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem;
}

.logo {
  height: 8rem;
  width: 8rem;
}

.logo-display {
  display: flex;
  justify-content: space-around;
}

.menu-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  margin: 4rem;
}

.button-panel {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.board-display {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem;
}

.segment-display {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  gap: 1rem;
}

.bar-display {
  display: flex;
  gap: 1rem;
}

.rtl-progressbar {
  direction: rtl;
  accent-color: yellow;
}

.colored {
  accent-color: green;
}